.project
.settings
.classpath
target/
*.log
android/libs
Thumbs.db
ios/bin
game.keystore
html/bin
ios/UpgradeLog.htm
android/bin
android/project.properties
android/default.properties
android/gen
*/assets/